.search-wrap {
	width:100%;
	align-self:center;
	transition:all .4s ease;
	h1 {
		margin-bottom:0;
	}
	h5 {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	input[type="text"] {
		padding:1.5rem 1rem;
		font-size: 1.5rem;
		width: 40rem;
		margin:0 auto 1rem auto;
	}
	button, .button {
		margin:.5rem .2rem;
		font-family: $header-font-family;
		font-weight: $global-weight-bold;
	}
	.search-header {
		transition:all .4s ease;
	}
	&.top {
		align-self:flex-start;
	}
}

.search-topbar {
	padding-top:1rem;
	padding-bottom:1rem;
	box-shadow:1px 1px 6px rgba(0,0,0,.3);
	position: relative;
	.search-header {
		opacity: 0;
		margin-top:-5rem;
	}
	.search-box {
		display: flex;
		input[type="text"] {
			width: 100%;
			float:left;
			margin:0 .2rem 0 0;
		}
		button, .button {
			margin:0 .2rem;
			flex: 0 0 10rem;
			padding:0;
		}
	}
	.react-autosuggest__container {
		width: 100%;
		max-width: 100%;
		margin-right: .2rem;
	}
}

.results-wrap {
	padding-top:2rem;
	.results {
		h2, h4 {
			text-align: center;
		}
	}
	.first-col {
		border-right:1px solid $light-gray;
	}
	.result-vraag {
		margin-bottom: 2rem;
	}
}
.result-visualizations h4, .result-datasets h4 {
	margin-bottom:1.8rem;
}
.result {
	display:flex;
	margin:1rem 0;
	.icon {
		flex:0 0 3rem;
		height: 3rem;
		width: 3rem;
		display: flex;
		align-items:center;
		justify-content: center;
		border-radius:50%;
		color:$white;
		background:$alert-color;
		margin-right: 1rem;
		i {
			font-size: 2rem;
		}
		&.green {
			background:$success-color;
		}
	}
	h5 {
		margin-bottom:.5rem;
	}
	h6 {
		margin-bottom: 0;
	}
	p {
		margin-bottom: .5rem;
	}
}
.result-visualizations {
	.result {
		.icon {
			background:$primary-color;
		}
	}
}

.search-enter {
	.search-topbar {
		@extend .animated;
		@extend .fadeInDown;
		animation-delay: 1s;
	}
	.results-wrap {
		@extend .animated;
		@extend .fadeInUp;
		animation-delay: .5s;
	}
}

.search-leave {
    &#search-full {
		@extend .animated;
		@extend .fadeOutUp;
	}
}

.react-autosuggest__container {
	position:relative;
	max-width:40rem;
	margin:0 auto;
}
.react-autosuggest__suggestions-container {
	width:100%;
	position:absolute;
	background:rgba(255,255,255,.8);
	text-align:left;
	color:$dark-gray;
	top:3rem;
	border-top:0;
	ul {
		list-style: none;
		border:1px solid rgba(0,0,0,.4);
		margin:0;
		li {
			font-size:1.2rem;
			padding:.5rem 1rem;
			transition:all .3s ease;
			cursor: pointer;
			&:hover {
				background:rgba(0,0,0,.1);
			}
		}
	}
	.react-autosuggest__suggestion--highlighted {
		background:rgba(0,0,0,.1);
	}
}